/* FONTS USED: Droid Sans Mono, Roboto, Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  /* Accent Colors */
  --accent-dark-rodeo-dust: #c8a985;
  --accent-light-rodeo-dust: #f0e3cc;
  --accent-lighter-rodeo-dust: #f7f2ed;
  --accent-dark-gray: #333333;
  --accent-gray: #999999;
  --accent-white: #ffffff;

  /* Typography and Background Colors */
  --text-black: #000000;
  --text-dark-gray: #666666;
  --text-light-gray: #cccccc;
  --text-whitesmoke: #f2f2f2;
}

/* All SELECTORS related to Tablet Landscape */
.tablet-header {
  display: none;
}

.tablet-footer {
  display: none;
}

.tablet-landing {
  display: none;
}

/* All SELECTORS related to Desktop HD */
/*  Resetting all default margin/padding properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--text-whitesmoke);
  color: var(--accent-gray);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-rendering: optimizeLegibility;
}

body {
  height: 100vh;
  padding: 30px 30px 30px 45px;
  display: flex;
  flex-grow: inherit;
  min-height: 900px;
}

.desktop-header {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.desktop-header img {
  align-self: flex-start;
}

nav ul {
  margin-top: 20vh;
  list-style: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;

  font-size: 140%;
  letter-spacing: 1px;
}

nav ul li {
  margin-bottom: 3%;
}

nav ul li a {
  text-decoration: none;
  color: var(--accent-gray);
}

nav ul li a:hover {
  color: var(--text-dark-gray);
}
nav ul li a:active {
  color: var(--text-light-gray);
}

.nav-gap {
  margin-bottom: 20%;
}

.current-page {
  color: var(--accent-dark-rodeo-dust);
}

footer {
  text-transform: uppercase;
  color: var(--text-black);
  font-size: 120%;

  flex-grow: 1;
  display: flex;
}

footer section {
  align-self: flex-end;
}

footer section ul {
  list-style: none;
}

footer section ul li {
  margin-top: 3%;
}

footer section ul li a {
  text-decoration: none;
  color: var(--text-black);
}

footer section ul li a:hover {
  color: var(--text-dark-gray);
}

footer section ul li a:active {
  color: var(--text-light-gray);
}

footer section ul li select {
  background: none;
  border: none;
  text-transform: uppercase;
  color: var(--text-dark-gray);
}

footer section ul li select:focus {
  outline: none;
}

.search {
  display: flex;
  margin-top: 5%;
}

.search input {
  height: 80%;
  background-color: var(--text-whitesmoke);
  border: 2px solid var(--text-light-gray);
  font-family: "Open Sans", sans-serif;
  padding: 3%;
  width: auto;
}

.search button {
  background-color: var(--text-light-gray);
  border-style: none;
  align-self: stretch;
  width: 30px;
}

input:focus,
button:focus {
  outline: none;
}

footer section ul li ul {
  margin-top: 10%;
  margin-bottom: 15px;
  display: flex;
}

footer section ul li ul li {
  margin-right: 5%;
}

footer section ul li ul li a img {
  height: 100%;
}

.container {
  flex-grow: 1;
  height: initial;
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.row-1 {
  height: 55%;
  margin-bottom: 1%;
  display: flex;
}

.row-2 {
  flex-grow: 1;
  margin-top: 1%;
  display: flex;
}

.box-main {
  background-color: var(--accent-gray);
  width: 57%;
  height: auto;
  margin-right: 1%;
  color: var(--text-whitesmoke);
  font-weight: 400;
  font-size: 220%;
  text-align: center;
  display: flex;
  min-width: fit-content;
}

.box-main div {
  align-self: center;
  margin: 0 auto 0 24%;
}

.button-big {
  text-decoration: none;
  font-size: 56%;
  display: inline-block;
  margin-top: 10%;
  color: var(--accent-white);
  background: none;
  border: 2px solid var(--accent-white);
  padding: 3% 12%;
}
.button-big:hover {
  background: var(--accent-white);
  color: var(--accent-gray);
}
.button-big:active {
  color: var(--accent-white);
  background: none;
}

.side {
  margin-left: 1%;
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  align-content: flex-end;
  font-size: 200%;
  text-align: center;
  color: var(--accent-white);
}

.side section {
  background-color: var(--accent-dark-rodeo-dust);
  flex-grow: 1;
  display: flex;
  min-width: fit-content;
  min-height: fit-content;
}

.side section:first-child {
  margin-bottom: 2.5%;
  flex: 1 1 0px;
}
.side section:last-child {
  margin-top: 2.5%;
  flex: 1 1 0px;
}

.side section:first-child div {
  align-self: center;
  margin: 0 auto 0 16%;
}

.side section:last-child div {
  align-self: center;
  margin: 0 16% 0 auto;
}

.button-small {
  text-decoration: none;
  font-size: 56%;
  margin-top: 10%;
  display: inline-block;
  color: var(--accent-white);
  background: none;
  border: 2px solid var(--accent-white);
  padding: 4% 10%;
}

.button-small:hover {
  background: var(--accent-white);
  color: var(--accent-gray);
}
.button-small:active {
  color: var(--accent-white);
  background: none;
}

.row-2 div {
  background-color: var(--text-light-gray);
  flex: 1 1 0px;
  margin-right: 1%;
  margin-left: 1%;
  display: flex;
  min-width: fit-content;
}
.row-2 div:first-child {
  margin-left: 0;
}
.row-2 div:last-child {
  margin-right: 0;
  margin-left: 1%;
}

.row-2 div p {
  color: var(--accent-white);
  font-size: 220%;
  text-align: center;
  align-self: flex-end;
  margin: 0 auto;
  margin-bottom: 10%;
}

@media (max-width: 1024px) {
  .desktop-header {
    display: none;
  }

  body {
    padding: 30px 30px 10px 30px;
    min-height: 851px;
    flex-direction: column;
    min-height: 851px;
  }

  .hamburger-menu-icon {
    content: url("../asset/Mobile\ Menu.svg");
  }

  .logo {
    content: url("../asset/logo-4boutique.svg");
  }

  .icon-search {
    content: url("../asset/icon-search.svg");
  }

  .icon-heart {
    content: url("../asset/icon-heart.svg");
  }

  .icon-shopping-bag {
    content: url("../asset/icon-shopping-bag.svg");
  }

  .tablet-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .tablet-header ul {
    list-style: none;
    display: inline;
  }

  .tablet-header ul li a {
    margin-left: 8px;
  }

  .tablet-header ul li {
    display: inline-block;
    vertical-align: middle;
  }

  .tablet-header ul li button {
    background: none;
    border: none;
  }

  .tablet-header ul li a img {
    width: 80%;
  }

  .tablet-tools li button {
    display: flex;
    margin-left: 20px;
  }
  .tablet-tools li button:last-child p {
    font-size: 80%;
    color: var(--text-dark-gray);
    margin-left: 4px;
  }

  .tablet-tools li button p {
    align-self: flex-end;
  }

  .container {
    margin-left: 0;
  }

  .tablet-footer {
    margin-top: 30px;
    display: block;
  }

  .tablet-footer hr {
    color: var(--accent-dark-rodeo-dust);
  }

  .info {
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 90%;
    color: var(--text-black);
    display: flex;
    justify-content: space-between;
  }

  .info ul {
    list-style: none;
    display: flex;
  }

  .info ul li {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 1px 1px 10px 1px;
    min-height: 1086px;
    max-width: 764px;
  }
  .desktop-header {
    display: none;
  }

  .hamburger-menu-icon {
    content: url("../asset/Mobile\ Menu-white.svg");
  }

  .logo {
    content: url("../asset/Logo-4boutique-white.svg");
  }

  .icon-search {
    content: url("../asset/icon-search-white.svg");
  }

  .icon-heart {
    content: url("../asset/icon-heart-white.svg");
  }

  .icon-shopping-bag {
    content: url("../asset/icon-shopping-bag-white.svg");
  }

  .tablet-header {
    padding: 20px 20px 20px 20px;
    margin-bottom: 0;
    fill: white;
    background-color: var(--accent-dark-gray);
  }

  .tablet-tools li button:last-child p {
    color: var(--accent-white);
  }

  .tablet-landing {
    display: block;
    background-color: var(--accent-dark-gray);
    height: 428px;
    text-align: center;
    font-weight: 400;
    color: var(--accent-white);
    letter-spacing: 1px;
  }
  .tablet-landing img {
    margin-top: 18%;
  }

  .tablet-landing div h2 {
    margin-top: 12%;
    margin-bottom: 3%;
    font-size: 230%;
  }

  .tablet-landing div p {
    font-size: 130%;
  }

  .tablet-landing div a {
    font-size: 120%;
    margin-top: 6%;
    padding: 1% 4% 1% 4%;
  }

  .container {
    margin-left: 0;
  }

  .row-2 div:last-child {
    margin-right: 0;
    margin-left: 1%;
  }

  .row-1 {
    margin-bottom: 1px;
  }
  .row-2 {
    margin-top: 1px;
  }

  .box-main {
    margin-right: 1px;
  }

  .box-main div {
    margin: 0 auto 0 12%;
  }

  .side {
    margin-left: 1px;
  }

  .side section:first-child {
    margin-bottom: 1px;
  }
  .side section:last-child {
    margin-top: 1px;
  }

  .side section:first-child div {
    align-self: center;
    margin: 0 auto 0 6%;
  }

  .side section:last-child div {
    align-self: center;
    margin: 0 6% 0 auto;
  }

  .row-2 div {
    margin-right: 1px;
    margin-left: 1px;
  }
  .row-2 div:first-child {
    margin-left: 0;
  }
  .row-2 div:last-child {
    margin-right: 0;
    margin-left: 1px;
  }

  .tablet-footer {
    margin: 14px 0 10px 0;
    display: block;
  }

  .info {
    margin: 12px 10px 0 10px;
  }
}
